/* -------- Style the main content -------- */
main {
    background-color: #ffe7cb;
}

/* -------- Biglietti -------- */
#listaBiglietti {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 18px;
     padding: 50px;
 }

.biglietto {
    width: 100%;
    min-width: 500px;
    min-height: 120px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #433f3f;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.biglietto:hover {
    background-color: #f5f5f5;
    box-shadow: 5px 5px 5px #433f3f;
}

.biglietto a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.biglietto h1 {
    font-size: 21px;
    margin: 10px;
}

.dettagliBiglietto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
    gap: 0 20px;
}

.dettagliBiglietto h2{
    font-size: 18px;
}

.bigliettoCampo {

    padding: 10px;
    gap: 10px;
}

.dettagliBiglietto p{
    font-size: 16px;
    margin: 5px 0;
}

.bigliettoCampo {
    width: 1fr;
}