main {
    background-color: #ffe7cb;
}

/* -------- view -------- */
#listaBiglietti {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 18px;
     padding: 50px;
 }

.biglietto {
    width: 100%;
    min-width: 500px;
    min-height: 120px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #433f3f;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.biglietto:hover {
    background-color: #f5f5f5;
    box-shadow: 5px 5px 5px #433f3f;
}

.biglietto a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-decoration: none;
    color: black;
}

.biglietto h1 {
    font-size: 21px;
    margin: 10px 0;
}

.dettagliBiglietto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 0;
    gap: 0 20px;
}

.dettagliBiglietto h2{
    font-size: 18px;
}

.bigliettoCampo {
    margin-right: 20px;
}

.dettagliBiglietto p{
    font-size: 16px;
    margin: 5px 0;
}

.biglietto .button {
    color: white;
    height: 35px;
    width: 150px;
    border: none;
    background-color: #730000;
    border-radius: 10px;
    font-size: 17px     ;
    transition: background-color 0.3s;
}

.biglietto .button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px #672b2b;
    background-color: #890404;
}

#nessun-biglietto {
    margin: 50px;
}

/* -------- insBigliettoView -------- */

#insBigliettoSection {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#insBigliettoSection form {
    width: 1150px;
    min-width: 830px;
    padding: 30px 50px;
    border-radius: 10px;
    background-color: #fbcda2;
}

#insBigliettoSection form div{
    margin: 10px;
}

#insBigliettoSection label{
    display: block;
}

#insBigliettoSection input, #insBigliettoSection select {
    height: 40px;
    width: 500px;
    margin-bottom: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 5px;
    color: rgb(105, 105, 105);
    background-color: white;
}

#insBigliettoSection textarea {
    height: 80px;
    width: 500px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 5px;
    color: rgb(105, 105, 105);
}

#insBigliettoSection textarea:focus, #insBigliettoSection select:focus  {
    outline: none;
    box-shadow: inset 0 0 5px #5a5a5a;
}

#insBigliettoSection input:focus {
    outline: none;
    box-shadow: inset 0 0 5px #5a5a5a;
}

#insBigliettoSection input[type="button"] {
    width: 180px;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 10px;
    background-color: #730000;
    border-radius: 10px;
    font-size: 17px     ;
    transition: background-color 0.3s;
}

#insBigliettoSection input[type="button"]:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px #672b2b;
    background-color: #890404;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.button-container {
    display: flex;
    margin: 35px 0;
}

.button-container .button {
    color: white;
    height: 50px;
    width: 250px;
    margin: 0 20px;
    border: none;
    background-color: #730000;
    border-radius: 10px;
    font-size: 17px     ;
    transition: background-color 0.3s;
}

.button-container .button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px #672b2b;
    background-color: #890404;
}

/* --- Mappa posti --- */

#mappa-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mappaPosti {
    width:1150px;
    background-color: #fbcda2;
    padding: 15px;
    border-radius: 10px;
}

#mappaPosti h1 {
    font-size: 18px;
    margin-left: 5px;
}

#zona-superiore-container {
    display: inline-block;
    width: 630px;
    margin: 0 calc((100% - 630px) / 2);
}

#galleria-centro {
    margin: 15px 0;
    display: inline-block;
}

#palchi-centrali {
    margin: 0 9px;
}

.posto {
    display: inline-block;
    position: relative;
    margin: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#zona-centrale-container {
    display: inline-block;
    margin: 0 calc((100% - 1120px) / 2);
}

.palco-centrale {
    display: inline-block;
    margin: 5px;
}

.palco-centrale .posto {
    margin: 0;
}

#galleria-sx, #galleria-dx{
    display: inline-block;
    margin:0 20px;
}

#galleria-sx .fila, #galleria-dx .fila {
    display: inline-block;
    width: 18px;
}

#palchi-laterali-sx, #palchi-laterali-dx{
    height: 420px;
    width: 155px;
    display: inline-flex;
    vertical-align: top;
    flex-direction:column;
    flex-wrap: wrap;
}

#palchi-laterali-dx {
    flex-wrap: wrap-reverse;
}

.palco-laterale {
    display:flex;
    flex-direction: row;
    margin: 8px;
}

#platea {
    display: inline-block;
    vertical-align: top;
    margin: 35px 80px;
}

#palco {
    text-align: center;
    margin: 10px 0;
}

#palco h1 {
    margin: 25px 300px;
    padding: 20px 0;
    border: solid 5px black;
    border-bottom: none;
    background-color: #ffe7cb;
}

.occupato {
    background-color: red;
}

.libero {
    background-color: black;
}

.nonSelezionabile {
    background-color: #646464;
}

.postoSelezionato {
    background-color: #00aa00;
    outline: solid 3px #227300;
}

/* hover */
.posto .infoPosto {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    margin-bottom: 5px;
}

.occupato .infoPosto {
    background-color: #d1d1d1;
}

.posto:hover .infoPosto {
    visibility: visible;
}