/* -------- Style the main content -------- */
main {
    background-color: #ffffff;
}

/* --- Copertina --- */

.copertina {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    height: 500px;
}

.copertina img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.copertina #barra-ricerca {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 30px;
    padding: 35px 50px;
    background-color: #490000;
    border-radius: 10px;
    position: absolute;
    min-width: 650px;
}

.copertina form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.copertina input[type="text"], .copertina input[type="date"] {
    height: 45px;
    border: none;
    border-radius: 5px;
    padding: 15px;
}

.copertina #data-da, #data-a {
    width: 150px;
}

.copertina input[type="text"]::placeholder, .copertina input[type="date"]::placeholder, .copertina select {
    color: #555555;
}

.copertina input[type="text"]:focus, .copertina input[type="date"]:focus{
    outline: none;
    box-shadow: inset 0 0 5px #5a5a5a;
}

.copertina input[type="date"]:hover {
    cursor: text;
}

.copertina select {
    background-color: white;
    height: 45px;
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: rgb(105, 105, 105);
}

.copertina select:hover {
    cursor: pointer;
}

.copertina select:focus {
    outline: none;
    box-shadow: inset 0 0 5px #5a5a5a;
}

.copertina input[type="submit"] {
    color: white;
    height: 45px;
    width: 150px;
    border: none;
    background-color: #730000;
    border-radius: 10px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.copertina input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px #672b2b;
    background-color: #890404;
}

/* --- Galleria --- */
.galleria {
    text-align:center;
    background-color: #ffe7cb;
}

.galleria li {
    display: inline-block;
    width: 200px;
    height: 300px;
    margin: 30px 0 30px 30px;
    background-color: #490000;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.galleria li:hover {
    background-color: #760b0b;
    box-shadow: 3px 3px 10px #433f3f;
}

.galleria li img {
    width:100%;
    height:60%;
    object-fit:cover;
    margin-bottom: 30px;
}

.galleria li h1 {
    color: white;
    font-size: 25px;
}

.galleria a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

/* --- Descrizione --- */

.descrizione {
    padding: 30px 0;
    text-align: center;
}

.descrizione h2 {
    margin: 10px;
}
.descrizione p {
    margin: 15px;
}

/* -------- registrazioneView -------- */

#registrazioneSection {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#registrazioneSection form {
    padding: 30px 50px;
    border-radius: 10px;
    background-color: #fbcda2;
}

#registrazioneSection form div{
    margin: 10px;
}

#registrazioneSection label{
    display: block;
}

#registrazioneSection input {
    height: 40px;
    width: 500px;
    margin-bottom: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 5px;
    color: rgb(105, 105, 105);
    background-color: white;
}

#registrazioneSection input:focus {
    outline: none;
    box-shadow: inset 0 0 5px #5a5a5a;
}

#registrazioneSection .button {
    color: white;
    height: 50px;
    width: 250px;
    margin-right: 10px;
    border: none;
    background-color: #730000;
    border-radius: 10px;
    font-size: 17px     ;
    transition: background-color 0.3s;
}

#registrazioneSection .button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px #672b2b;
    background-color: #890404;
}