main {
    background-color: #ffe7cb;
}

/* -------- insReplicaView -------- */

#insReplicaSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}

#insReplicaSection h2 {
    font-size: 20px;
}

#insReplicaSection form {
    min-width: 545px;
    padding: 30px 50px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #fbcda2;
}

#insReplicaSection form div{
    margin: 10px;
}

#insReplicaSection label{
    display: block;
}

#insReplicaSection input, #insReplicaSection select {
    height: 40px;
    width: 500px;
    margin-bottom: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 5px;
    color: rgb(105, 105, 105);
    background-color: white;
}

#insReplicaSection textarea {
    height: 80px;
    width: 500px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 5px;
    color: rgb(105, 105, 105);
}

#insReplicaSection textarea:focus, #insReplicaSection select:focus  {
    outline: none;
    box-shadow: inset 0 0 5px #5a5a5a;
}

#insReplicaSection input:focus {
    outline: none;
    box-shadow: inset 0 0 5px #5a5a5a;
}

#insReplicaSection .button-container {
    min-width: 600px;
}

#insReplicaSection .button {
    color: white;
    height: 50px;
    width: 250px;
    margin-right: 10px;
    border: none;
    background-color: #730000;
    border-radius: 10px;
    font-size: 17px     ;
    transition: background-color 0.3s;
}

#insReplicaSection .button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px #672b2b;
    background-color: #890404;
}

.replica-container {
    background-color: white;
    padding: 13px 18px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.replica-container p {
    font-size: 18px;
}

#lista-orari {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#lista-orari .button {
    color: white;
    height: 30px;
    width: 100px;
    border: none;
    background-color: #730000;
    border-radius: 10px;
    font-size: 17px     ;
    transition: background-color 0.3s;
}

#lista-orari .button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 5px #672b2b;
    background-color: #890404;
}